.arrival-info {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: white;
  text-align: center;
}

.card-trip {
  border-radius: 15px;
}

.card-info {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: white;
}